

<footer class="bg-[#a7733f] rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-[#ecbe6e] sm:text-center dark:text-gray-400">© 2024 <a href="" class="hover:underline">Flesh and Blood™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-[#ecbe6e] dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">À propos de nous</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Conditions d'utilisation</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licence</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>
